@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #fff;
}

#form-container {
  width: 98%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262626;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 30px;
  text-align: center;
  border-left-color: #363739;
  margin: 0;
  font-size: 18px;
  line-height: 0;
}

.form__content__wrapper {
  padding: 20px;
}

#join-form {
  display: flex;
  flex-direction: column;
}

input {
  color: #fff;
  width: 95%;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 16px 5px;
  font-size: 15px;
  background-color: #3f434a;
  margin: 32px auto 0;
}

input[type='submit'] {
  background-color: #845695;
  width: 100%;
}
